streamlit
pandas
plotly.express
gspread
gspread-dataframe
numpy
scikit-learn

# Untuk Fuzzy
fuzzywuzzy
python-levenshtein

# Untuk Word2Vec (FastText)
gensim

# Untuk SBERT
sentence-transformers
torch
